<div class="container">
  <h1><%= @user.full_name %></h1>
  <div class="cards">
    <% @user.posts.each do |post| %>
      <div class="card">
        <%= image_tag "post3.jpg", class: "images" %>
        <div class="details">
          <%= link_to post.category.title, category_path(post.category) %>
          <!-- <p>&nbsp- <%= post.updated_at.strftime("%e %B %Y") %></p> -->
          <p>&nbsp- <%= l(post.updated_at, :format => '%d %B %Y') %></p>
        </div>
        <div class="title">
          <h2><%= link_to post.title, post_path(post)  %></a></h2>
        </div>
        <div class="summary">
          <p><%= post.content %></p>
        </div>
        <div class="author">
          <%= image_tag "Alix.jpg", class: "avatar-large" %>
          <div class="role">
            <%= link_to post.user.full_name, author_path(post.user) %></a>
            <p><%= post.user.title %> @ MorningCroissant</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
