<div class="main-container">
  <h1>Simplifier et sécuriser la location</h1>
  <div class="cards">
    <% @posts.each do |post| %>
      <div class="card">
        <%= image_tag "logo.png", class: "images" %>
        <h2><%= post.title  %></h2>
        <a href="#" class="category"><%= post.category.title %></a>
        <p><%= post.content %></p>
         <div class="author">
          <%= image_tag "Alix.jpg", class: "avatar-large" %>
          <a href="" class="category"><%= post.user.email %></a>
        </div>
        <br>
      </div>
    <% end %>
  </div>
</div>


