<body style="background-color: white;">
<div class="post-wrapper">
  <div class="main-container">
    <h1><%= @post.title %></h1>
    <div class="post-header">
      <div class="border-center">
      </div>
      <div class="author center post-author">
        <% if @post.user.photo.attached? %>
          <%= cl_image_tag @post.user.photo.key, height: 56, width: 56, crop: :fill, class: "avatar-large" %>
        <% else %>
          <%= image_tag "logo-avatar.jpg", class: "avatar-large" %>
        <% end %>
        <div class="role">
          <%= link_to @post.user.full_name, author_path(@post.user), class: "hover-smooth" %></a>
          <p><%= @post.user.title %></p>
          <div class="details-show">
            <%= link_to @post.category.title, category_path(@post.category), class: "hover-smooth" %>
            <p style="margin-left: 0px;">&nbsp- <%= l(@post.updated_at, :format => '%d %B %Y') %></p>
          </div>
        </div>
      </div>
    <div class="border-center">
    </div>
    </div>
    <div class="post-picture">
      <% if @post.photo.attached? %>
        <%= cl_image_tag @post.photo.key, height: 300, width: 500, crop: :fill %>
      <% else %>
        <%= image_tag "post.jpg", height: 300, width: 500, crop: :fill %>
      <% end %>
    </div>
    <div class="post-sharing">
      <p>Partager cet article</p>
      <i class="fab fa-linkedin"></i>
      <i class="fab fa-twitter-square"></i>
      <i class="fab fa-facebook-square"></i>
    </div>
    <div class="post-content">
      <%= @post.content %>
      <div class="post-sharing">
        <p>Partager cet article</p>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-twitter-square"></i>
        <i class="fab fa-facebook-square"></i>
      </div>
    </div>
  </div>
</div>
<!-- <div class="post-categories">
  <div class="main-container">
    <h2>Dans la même catégorie</h2>

  </div>
</div> -->

